.region-popup-module {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, .4);
}
.region-popup {
  @include element-size(100%, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 24rpx;
  border-top-right-radius: 24rpx;
  display: flex;
  background: $bx-color-f;
  transition: all .3s;
  overflow: hidden;
  .sidenav-wrap {
    position: relative;
    width: 200rpx;
    background: #F3F5F8;
    overflow-y: auto;
    .sidenav-line-outer {
      @include flex-y-center;
      position: absolute;
      top: 0;
      right: 0;
      width: 6rpx;
      height: 100rpx;
      transition: all .3s;
      .sidenav-line-inner {
        width: 100%;
        height: 40rpx;
        border-radius: 6rpx;
        background: #0085FF;
      }
    }
    .sidenav-item {
      @include font-style(32rpx, 500);
      @include flex-xy-layout;
      height: 100rpx;
      padding: 0 10rpx;
      text-align: center;
      color: #888D98;
      &.sidenav-item-active {
        color: $bx-color-3;
      }
    }
  }
  .content-wrap {
    flex: 1;
    margin: 30rpx;
    overflow-y: auto;
    // 地区选项
    &.region-wrap {
      .loc-wrap {
        margin-bottom: 64rpx;
        .loc-header {
          @include flex-xy-layout(flex-start);
          margin-bottom: 28rpx;
          .loc-left {
            @include font-style(30rpx, 500);
          }
        }
        .loc-item {
          @include flex-xy-layout;
          @include element-size(233rpx, 68rpx, 8rpx);
          @include font-style(30rpx, 500);
          position: relative;
          color: #888D98;
          border: 2rpx solid #ECEFF4;
          &.loc-item-active {
            border: 2rpx solid #0085FF;
            color: #0085FF;
            background: $bx-color-f;
          }
          .location-img {
            @include element-size(22rpx, 26rpx, 0);
            margin-right: 12rpx;
          }
          .active-gou-img {
            @include element-size(26rpx, 26rpx, 0);
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
      .hot-wrap {
        .hot-header {
          @include flex-xy-layout(flex-start);
          margin-bottom: 28rpx;
          .hot-left {
            @include font-style(30rpx, 500);
          }
        }
        .city-wrap {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20rpx;
          .city-item {
            @include flex-xy-layout;
            @include element-size(auto, 68rpx, 8rpx);
            @include font-style(30rpx, 500);
            color: #888D98;
            background: #EEF0F3;
            &.city-item-active {
              position: relative;
              border: 2rpx solid #0085FF;
              background: $bx-color-f;
              color: #0085FF;
              .active-gou-img {
                @include element-size(26rpx, 26rpx, 0);
                position: absolute;
                right: 0;
                bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
