.server-slot {
  .nav-wrap {
    @include flex-xy-layout;
    margin: 0 auto;
    .nav-item {
      @include font-style(36rpx);
      position: relative;
      color: $qy-color-9;
      padding-bottom: 10rpx;
      &:last-child { margin-left: 40rpx; }
      &.nav-item-active {
        color: $qy-color-3;
      }
      .bottom-line {
        @include element-size(49rpx, 4rpx, 6rpx);
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: #0085FF;
      }
    }
  }
}

.tip-module {
  @include flex-xy-layout;
  @include font-style(28rpx);
  height: 66rpx;
  background: #F5F5F5;
}

.person-product-module {
  margin: 38rpx 24rpx;
  .product-title {
    @include flex-xy-layout(flex-start);
    margin-bottom: 24rpx;
    .icon-gou {
      @include element-size(36rpx, 36rpx, 0);
      margin-right: 8rpx;
    }
  }
  .person-product-items {
    @include flex-xy-layout(flex-start);
    .person-product-item {
      @include flex-xy-layout;
      flex: 1;
      height: 100rpx;
      border-radius: 24rpx;
      color: $qy-color-9;
      border: 2rpx solid #EDEDED;
      &:first-child {
        margin-right: 24rpx;
      }
      &.person-product-item-active {
        color: #0085FF;
        border-color: #0085FF;
      }
      .icon-gou {
        @include element-size(36rpx, 36rpx, 0);
        margin-right: 8rpx;
      }
    }
  }
}

.company-product-module {
  margin: 0 24rpx;
  .product-title {
    @include flex-xy-layout(flex-start);
    margin-bottom: 24rpx;
    .icon-gou {
      @include element-size(36rpx, 36rpx, 0);
      margin-right: 8rpx;
    }
  }
  .company-product-img {
    width: 100%;
  }
}

.bottom-btn {
  @include flex-xy-layout(flex-start);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20rpx 24rpx;
  background: $qy-color-f;
  .preview-btn {
    @include flex-xy-layout;
    @include element-size(200rpx, 80rpx, 40rpx);
    @include font-style(32rpx);
    border: 2rpx solid #EDEDED;
  }
  label {
    flex: 1;
    margin-left: 24rpx;
    .share-btn {
      @include font-style(32rpx);
      @include flex-xy-layout;
      height: 80rpx;
      border-radius: 40rpx;
      border-radius: 40rpx;
      color: $qy-color-f;
      background: #0085FF;
    }
  }
}
