.main {
  margin: 24rpx 32rpx;
  color: #333;
  padding-bottom: calc(60rpx + 88rpx + 20rpx);
}

.content {
  @include font-style(28rpx, 500);
  line-height: 50rpx;
  margin-bottom: 24rpx;
}

.law-manager-avatar {
  @include element-size(100rpx, 100rpx, 0);
  position: fixed;
  bottom: 500rpx;
  right: 32rpx;
}

.auth-btn {
  @include flex-xy-layout;
  @include font-style(36rpx);
  position: fixed;
  left: 24rpx;
  right: 24rpx;
  bottom: 60rpx;
  color: #fff;
  background: #FE5F48;
  height: 88rpx;
  border-radius: 48rpx;
}
